.authFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #CFD8E5;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px;
  background-color: #2c2c2c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
  margin-bottom: 10px;
  padding: 10px;
  color: #CFD8E5;
  border-radius: 4px;
  background-color: #1e1e1e;
}

button {
  padding: 10px;
  background-color: #4b9ad9;
  color: #121212;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #167ccf;
}

p {
  margin-top: 10px;
  color: #4b9ad9;
  cursor: pointer;
}
