.formContainer {
  display:flex ; 
  flex-direction: row;
  width: 100%;
  padding: 5px;
  background-color: #324050;
  box-sizing: border-box;
}

.fileInput {
  display: flex; /* Gerekirse stil ekleyebilirsiniz */
}

.button {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  height: 50px;
}

.buttonText {
  color: white;
}