.chatRoom {
  display: flex;
  flex-direction: column;
  height: 95vh;
  padding: 10px;
  box-sizing: border-box;
  background-color: #324050;
}

.messageContainer {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
}

.message {
  color: #CFD8E5;
  background-color: #324050;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff50;
}

.timestamp {
  font-size: 0.8em;
  color: #ffffff85;
  margin-left: 5px;
}

.fileMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloadButton {
  display:flex;
  color: #007bff;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #007bff;
  cursor: pointer;
  margin-left: 10px;
}

.downloadButton:hover {
  background-color: #007bff;
  color: #fff;
}