.mainApp {
    width: 100%;
    height: 100%;
  }
  .container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .chatContainer {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  