.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px; 
    background-color: #324050;
    color: #CFD8E5;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .title {
    display: flex;
    font-size: 1.5rem;
  }
  
  .currentRoom {
    font-size: 1.2rem;
    margin-left: 20px;
  }

  .onlineButton {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .dropdown {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #324050;
    border: 1px solid #ffffff50;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .user, .noUsers {
    color: #CFD8E5;
    margin: 5px 0;
  }
  